---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Results summary component">
  <main class="lg:my-[17.75rem] flex justify-center items-center lg:mx-auto">
    <section
      class="lg:w-[46rem] lg:h-[32rem] w-[23.44rem] h-[50.5625rem] flex flex-col lg:flex-row"
    >
      <div
        class="w-[23.44rem] lg:w-[23rem] h-[22.25rem] card-one rounded-b-[2rem] lg:rounded-[2rem] lg:h-[32rem] flex flex-col items-center text-center pt-6 pb-10 lg:pt-[2.37rem] lg:pb-[3.44rem]"
      >
        <h1
          class="text-[#CAC9FF] font-bold leading-normal text-lg lg:text-2xl mb-6 lg:mb-[2.19rem]"
        >
          Your Result
        </h1>
        <div
          class="size-[8.75rem] rounded-full oval lg:size-[12.5rem] lg:mb-[1.75rem] mb-6 flex flex-col justify-center items-center"
        >
          <h2
            class="text-white font-extrabold text-[3.5rem] leading-[4.5rem] lg:text-7xl"
          >
            76
          </h2>
          <h3
            class="text-[#CAC9FF] opacity-[0.5168] text-base font-bold leading-normal lg:text-lg"
          >
            of 100
          </h3>
        </div>
        <div class="flex flex-col items-center gap-2">
          <h2 class="text-2xl text-white font-bold leading-normal">Great</h2>
          <p
            class="text-[#CAC9FF] text-base font-medium leading-normal lg:text-lg w-[16.25rem]"
          >
            Your performance exceed 65% of the people conducting the test here!
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  body {
    background-color: #ecf2ff;
  }
  .card-one {
    background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  }
  section {
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  }
  .oval {
    background: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );
  }
</style>
